body {
    margin-top: 0px;
    background-color: #bbb;
    background-image: url(cars.png), url(myName.png);
    background-size: 100px, 100px;
    background-repeat: no-repeat, repeat;
    background-position: center 300px;


}

p {
    font-size: 30pt;
    color: #fff;
    background-color: #0f0;
    background-image: url(sinalMaisA.png);
    background-repeat: repeat-x;
    background-position: 0px;
    padding: 2px;
}